{{#section 'steps'}}
{{/section}}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4 class="center-align">All Done</h4>
      </div>
      <div class="col s12">
        <p class="center-align">Your Team will start to get asked for daily updates</p>
        <p class="center-align">If you have any questions about the bot please email us at support@timedoctor.com</p>
        <p class="center-align">To Change your settings type /setup in Slack</p>
        <p class="center-align">We Plan to keep the bot free as a way to promote our paid app 
        <a href="http://www.timedoctor.com">www.timedoctor.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
